In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np

In [2]:
URL = "https://en.tutiempo.net/climate/ws-{}.html"

In [3]:
cities = {
    'Toronto': '716240',
    'Vancouver': '718920',
    'Quebec City':'717140',
    'Montreal':'716270',
    'Ottawa':'716280',
    'St John':'718010',
    'Charlottetown':'717060',
    'Halifax':'713950'
}

In [4]:
def get_df_for_city(city_id, city_name):
    req = requests.get(URL.format(city_id))
    soup = BeautifulSoup(req.content, 'lxml')
    table = soup.findAll('table', {'class': 'medias'})[0]
    table_arr = np.array([[cell.text for cell in row.find_all(["th","td"])] for row in table.find_all("tr")])
    tab_header = table_arr[0]
    tab_data = np.delete(table_arr, (0), axis=0)
    df_data = []
    for row_data in tab_data:
        row = []
        for val in row_data:
            if val == '-':
                row.append(np.nan)
            else:
                row.append(np.float(val))
        df_data.append(row)
    df = pd.DataFrame(columns=tab_header, data = df_data)
    ## Feature cleaning
    df = df[df.Year >= 1990]
    df = df[df.Year < 2020]
    med = df.median()
    df.fillna(value=med, inplace=True)
    df['City'] = city_name
    return df.reset_index(drop=True)

In [5]:
df = get_df_for_city('713950', 'Toronto')

In [6]:
df.head(200)

,Year,T,TM,Tm,PP,V,RA,SN,TS,FG,TN,GR,City
0,1993.0,6.85,12.6,2.4,1461.52,17.9,176.0,94.0,10.0,107.0,0.0,1.0,Toronto
1,1994.0,6.40,11.2,2.5,0.00,15.4,168.0,92.0,12.0,187.0,0.0,0.0,Toronto
2,1995.0,6.50,11.0,2.7,0.00,13.9,170.0,120.0,10.0,185.0,0.0,1.0,Toronto
3,1996.0,6.40,10.6,2.7,1461.52,15.0,198.0,98.0,13.0,164.0,0.0,0.0,Toronto
4,1997.0,5.80,10.4,1.9,0.00,15.0,161.0,124.0,14.0,114.0,0.0,1.0,Toronto
5,1998.0,7.60,11.9,4.1,0.00,16.2,181.0,85.0,13.0,115.0,0.0,0.0,Toronto
6,1999.0,8.30,14.0,3.4,1461.52,17.2,181.0,87.0,12.0,115.0,0.0,0.0,Toronto
7,2000.0,7.10,12.7,2.5,1329.36,17.1,184.0,94.0,12.0,120.0,0.0,1.0,Toronto
8,2001.0,7.40,13.0,2.5,1048.61,15.6,138.0,116.0,10.0,116.0,0.0,0.0,Toronto
9,2002.0,6.85,12.6,2.4,1461.52,17.9,165.0,112.0,14.0,117.0,0.0,1.0,Toronto
10,2003.0,6.90,12.5,2.0,1268.42,15.8,152.0,105.0,6.0,79.0,0.0,1.0,Toronto
11,2004.0,6.10,11.7,1.4,1248.61,17.9,170.0,100.0,7.0,118.0,0.0,0.0,Toronto
12,2005.0,6.85,12.6,2.4,1461.52,17.9,176.0,94.0,10.0,107.0,0.0,1.0,Toronto
13,2006.0,7.50,13.2,2.3,1330.65,17.6,178.0,69.0,11.0,118.0,0.0,2.0,Toronto
14,2007.0,5.70,12.1,0.3,1461.52,18.3,170.0,88.0,19.0,72.0,0.0,1.0,Toronto
15,2008.0,6.40,12.7,0.5,1680.38,17.9,194.0,87.0,16.0,87.0,0.0,2.0,Toronto
16,2009.0,6.00,12.2,0.1,1509.76,18.0,179.0,93.0,8.0,74.0,0.0,0.0,Toronto
17,2010.0,7.70,13.4,2.7,1320.45,18.2,176.0,79.0,9.0,77.0,0.0,2.0,Toronto
18,2011.0,6.80,12.9,1.3,1704.24,18.1,181.0,86.0,11.0,88.0,0.0,1.0,Toronto
19,2012.0,7.90,13.8,2.5,1769.04,17.5,177.0,75.0,10.0,85.0,0.0,0.0,Toronto
20,2013.0,6.50,11.9,1.7,1526.97,18.2,176.0,98.0,9.0,105.0,0.0,0.0,Toronto
21,2014.0,7.10,12.7,2.3,1622.51,18.4,196.0,98.0,6.0,107.0,0.0,1.0,Toronto
22,2015.0,6.50,12.2,1.7,1640.54,18.2,162.0,107.0,9.0,95.0,0.0,0.0,Toronto
23,2016.0,7.40,13.0,2.9,1673.62,18.1,180.0,89.0,7.0,102.0,0.0,1.0,Toronto
24,2017.0,7.50,13.0,2.9,1671.81,18.2,158.0,102.0,7.0,107.0,0.0,1.0,Toronto
25,2018.0,7.40,13.0,2.7,1661.61,19.0,170.0,98.0,8.0,107.0,0.0,0.0,Toronto
26,2019.0,6.70,12.4,2.1,1461.52,18.8,182.0,93.0,15.0,99.0,0.0,0.0,Toronto

In [7]:
dfs = []
for key, val in cities.items():
    dfs.append(get_df_for_city(val, key))

In [8]:
fdf = pd.concat(dfs)

In [9]:
fdf.to_csv('final_df.csv', index=False)

In [10]:
fdf.head(200)

,Year,T,TM,Tm,PP,V,RA,SN,TS,FG,TN,GR,City
0,1990.0,8.90,15.1,3.1,887.63,15.7,168.0,80.0,22.0,166.0,0.0,0.0,Toronto
1,1991.0,9.10,15.2,3.3,830.07,14.6,149.0,78.0,30.0,127.0,0.0,1.0,Toronto
2,1992.0,7.30,12.9,1.7,967.70,12.5,171.0,91.0,32.0,85.0,0.0,1.0,Toronto
3,1993.0,7.50,13.5,1.5,762.67,14.1,165.0,88.0,34.0,130.0,0.0,1.0,Toronto
4,1994.0,7.50,14.0,1.6,951.45,14.5,153.0,86.0,38.0,145.0,1.0,1.0,Toronto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2005.0,6.25,11.3,1.7,1210.83,16.3,173.0,104.0,11.5,39.5,0.0,0.0,Charlottetown
16,2006.0,7.50,12.5,3.1,1159.51,15.7,190.0,76.0,13.0,39.0,2.0,0.0,Charlottetown
17,2007.0,5.70,10.7,1.4,1210.83,16.5,160.0,91.0,13.0,24.0,1.0,3.0,Charlottetown
18,2008.0,6.40,11.4,2.1,1487.15,16.1,193.0,93.0,14.0,40.0,0.0,0.0,Charlottetown
19,2009.0,6.20,11.1,1.7,1401.82,16.1,183.0,88.0,10.0,30.0,0.0,0.0,Charlottetown